

# follow symlinks & disallow directory listing
Options +FollowSymlinks -Indexes
DirectorySlash Off

# file etags (used when comparing local cached file to server file)
FileETag MTime Size
<IfModule mod_headers.c>
	Header set Cache-Control "private"
</IfModule>

<IfModule mod_rewrite.c>
	# nice urls
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

	#RewriteRule ^v1/([-a-zA-Z]+) index.php [QSA,L]
	RewriteRule ^v1/([-a-zA-Z-]+)?$ index.php?ruta1=$1 [QSA,L]
    RewriteRule ^v1/([-a-zA-Z-]+)/([0-9]+)?$ index.php?ruta1=$1&id=$2 [QSA,L]
	RewriteRule ^v1/([-a-zA-Z-]+)/([0-9]+)/([0-9]+)?$ index.php?ruta1=$1&id=$2&id2=$3 [QSA,L]
	RewriteRule ^(.*)/([-0-9a-zA-Z]+)/(.*)$ index.php?ruta1=$1 [QSA,L]
	RewriteRule ^documentacion/([-a-zA-Z]+) index.php
	# handle urls
	RewriteCond %{REQUEST_URI} !^$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteRule . index.php [NC,L]
	
    ErrorDocument 404 "Sorry, our url not found"
    
</IfModule>

